<ul>
  <volist name="cl['category_child']" id="cc">                
    <li class="title"><h4>{$cc.category_name}推荐</h4></li>
    <li>
      <a href="{:U('goods/cate',array('id'=>$cc['id']))}" title="{$cc.category_name}" target="_blank"><label>{$cc.category_name}：</label></a>
      <a href="/index.php/home/travel/destination/id/14.shtml" target="_blank" id="s-a">洪崖洞</a>						
      <a href="/index.php/home/travel/destination/id/11.shtml" target="_blank" id="s-a">大水井</a>						
      <a href="/index.php/home/travel/destination/id/10.shtml" target="_blank" id="s-a">朝阳洞</a>												
      <a href="/index.php/home/travel/destination/id/9.shtml" target="_blank">鱼木寨</a>						
      <a href="/index.php/home/travel/destination/id/8.shtml" target="_blank">将军岩</a>						                  
    </li>
  </volist>
</ul>