<div class="rn_top">
  <ul>
    <li>
      <a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/5.html" class="mon"> 5<h5>月</h5></a>
      <a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/5.html" target="_blank"><img src="http://www.etimehouse.com/Uploads/ggimg/20150723/55b046e706fed.jpg" alt="苏马荡：清凉舒适的夏季" width="100%" height="160"></a>
      <a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/5.html" target="_blank" class="img-link">苏马荡：清凉舒适的夏季</a>                      
      <span><a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/17.html" target="_blank">大峡谷</a>：心灵与视觉的洗礼。</span><br>
      <span><a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/8.html" target="_blank">将军岩</a>：壶口秋风，大气磅礴。</span><br>
      <span><a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/9.html" target="_blank">鱼木寨</a>：聆听初秋的心跳。</span>
    </li>
    <li>
      <a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/6.html" class="mon"> 6<h5>月</h5></a>
      <a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/6.html" target="_blank"><img src="http://www.etimehouse.com/Uploads/ggimg/20150723/55b047049f731.jpg" alt="腾龙洞：国家AAAA级旅游景区" width="100%" height="160"></a>
      <a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/6.html" target="_blank" class="img-link">腾龙洞：国家AAAA级旅游景区</a>                      
      <span><a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/11.html" target="_blank">大水井</a>：红叶在湖光流韵间漂浮。</span><br>
      <span><a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/12.html" target="_blank">佛宝山</a>：等待一场浪漫邂逅。</span><br>
      <span><a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/13.html" target="_blank">垭石林</a>：蓝绿相接，骏马嘶鸣。</span>
    </li>
  </ul>
  <a href="/index.php/home/lhyt/lp_lists.shtml"><img src="/Public/Index/images/dc/tuangou.jpg" width="50%" height="274" style="float:right;" alt="林海云天广告"></a>
</div>

<div class="rn_bom">
  <ul>
    <li>
      <a class="msgw">美食</a>
      <img src="/Public/Index/images/ms.jpg" alt="美食">
      <span><a href="/index.php/home/img/index.shtml">苏马荡</a>：大饱口福的各色美食</span>
      <span><a href="/index.php/home/img/index.shtml">利川</a>：灵魂都是麻辣味</span>
      <span><a href="/index.php/home/img/index.shtml">成都</a>：泡菜的新鲜之旅</span>
    </li>
    <li>
      <a class="msgw">美景</a>
      <img src="/Public/Index/images/gw.jpg" alt="购物">
      <span><a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/6.html">腾龙洞</a>：世界特级溶洞</span>
      <span><a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/15.html">朝天门</a>：嘉陵江与长江交汇</span>
      <span><a href="http://www.etimehouse.com/index.php/Home/Travel/destination/id/16.html">天坑地缝</a>：旅游、渡假、科考</span>
    </li>
  </ul>
  <a href="http://www.tuniu.com/"><img src="/Public/Index/images/tnny.gif" width="190" height="80" style="float:right;margin-top:20px;" alt="林海云天广告"></a>
  <a href="http://www.sxcm.net/"><img src="/Public/Index/images/sxdsb.gif" width="190" height="80" style="float:right;margin-top:20px;margin-left:6px;" alt="林海云天广告"></a>
</div>
