<extend name="Public/base"/>
<block name="head">
	<link href="__NEW_CSS__/goods.css" rel="stylesheet" />
</block>
<block name="body">
<div class="row-fluid">
  <div class="container">
    <div class="goods bg-white">
    <php>if($msg){</php><div class="msg">{$msg}</div><php>}</php>
        <!--items start-->
        <div class="destination-top col-md-12">
            <h1 class="tit col-md-12">{:cutstr($cate['category_name'],100)}</h1> 
        </div>
        <div class="destination-carousel col-md-12">
            <div class="e_destination_imgbox col-md-8 col-sm-12">
                <img alt="{$cate['category_name']}" src="{$cate['catepic_url']}" >
            </div>
            <div class="e_destination_txtbox col-md-3 col-sm-12">
                <div class="b_title clrfix">
                    <h1 class="tit">{$cate['category_name']}</h1>
                    <div class="entit"></div>
                </div>
               <div class="countbox">
                <div class="c_item">&nbsp;&nbsp;{$cate['summary']}</div>
               </div>
            </div>
        </div>
        <div class="destination col-md-12">
            <div class="destination-left col-md-8 col-sm-12">
                <!-- 攻略列表区 --> 
                <div class="gl_left_content">
                    <div class="img col-md-4">
                        <a href="/index.php/Home/Travel/travel/id/250.shtml"><img src="http://www.etimehouse.com/Uploads/coverimg/20150722/55af084303da3.jpg"></a>
                    </div>
                    <div class="gl_left_right col-md-8">
                        <div class="title_dt">
                            <h3 class="col-md-12"><a href="/index.php/Home/Travel/travel/id/250.shtml">凤凰茶乡，一个你来了就不想走的地方！！！</a></h3>
                        </div>
                        <ul class="notes_info_tip">
                            <li class="gl_left_content4 col-md-1"><a href="#"><img src="http://www.etimehouse.com/Uploads/usersimg/20150601/556bc7593df50.jpg" class="gl_left_content4_img"></a></li>
                            <li class="gl_left_content5 col-md-2">不解释</li>
                            <li class="gl_left_content9 col-md-8">目的地：万州凤凰茶乡</li>
                        </ul>
                        <ul class="notes_info_time">
                            <li class="display">121</li>
                            <li class="time">共1天</li>
                        </ul>
                        <div class="notes_content"><b>说说这次旅行：</b> 早就听闻凤凰茶乡拥有独特的自然风光、深厚的古建筑文化、浓郁的农耕文化和乡村气息。“千层梯田”，这么大规模的梯田，现在已不多见了，特别是能在这里感受到正在消失的农耕文化，实属难得。 
                        </div>
                    </div>
                </div>
                <div class="gl_left_content">
			        <div class="img col-md-4">
			        	<a href="/index.php/Home/Travel/travel/id/249.shtml"><img src="http://www.etimehouse.com/Uploads/coverimg/20150722/55af0835de98c.jpg"></a>
			        </div>
			          <div class="gl_left_right col-md-8">
			            <div class="title_dt">
			              <h3><a href="/index.php/Home/Travel/travel/id/249.shtml">我的家乡--凤凰茶乡</a></h3>
			            </div>
			            <ul class="notes_info_tip">
			              <li class="gl_left_content4 col-md-1"><a href="#"><img src="http://www.etimehouse.com/Uploads/usersimg/20150601/556bc7593df50.jpg" class="gl_left_content4_img"></a></li>
			              <li class="gl_left_content5 col-md-2">不解释</li>
			              <li class="gl_left_content9 col-md-8">目的地：万州凤凰茶乡</li>
			            </ul>
			            <ul class="notes_info_time">
			                <li class="display">383</li>
			                <li class="time">共2天</li>
			              </ul>
			            <div class="notes_content"><b>说说这次旅行：</b>         
			    凤凰茶乡是重庆市首个大型开放式乡村公园，位于万州区太安镇，距万州城区28公里、云阳县城15公里。公园面积15.3平方公里，其中核心区5.7平方公里，森林覆盖率达96%，负氧离子含量达到每立方厘米53000个；海拔950-1068米，夏季平均气温22.5℃，又一个夏季避暑好地方。 
			            </div>
			          </div>
			       </div>
			       <div class="gl_left_content">
			        <div class="img col-md-4">
			        	<a href="/index.php/Home/Travel/travel/id/248.shtml"><img src="http://www.etimehouse.com/Uploads/coverimg/20150722/55af082812324.jpg"></a>
			        </div>
			          <div class="gl_left_right col-md-8">
			            <div class="title_dt">
			              <h3><a href="/index.php/Home/Travel/travel/id/248.shtml">五一去哪儿玩？与恋人私奔去云阳龙缸，为爱证言</a></h3>
			            </div>
			            <ul class="notes_info_tip">
			              <li class="gl_left_content4 col-md-1"><a href="#"><img src="http://www.etimehouse.com/Uploads/usersimg/20150601/556bc7593df50.jpg" class="gl_left_content4_img"></a></li>
			              <li class="gl_left_content5 col-md-2">不解释</li>
			              <li class="gl_left_content9 col-md-8">目的地：云阳龙缸</li>
			            </ul>
			            <ul class="notes_info_time">
			                <li class="display">117</li>
			                <li class="time">共1天</li>
			              </ul>
			            <div class="notes_content"><b>说说这次旅行：</b> 五一将至，浪漫热辣的夏天近在咫尺。恋人们心中是否想好了去哪儿欢度这样一个激情假日呢？3天时间出国太赶，不妨在国内寻一处神秘的爱情旅行地，带着爱人出发。 
			            </div>
			          </div>
			       </div><div class="gl_left_content">
			        <div class="img col-md-4">
			        	<a href="/index.php/Home/Travel/travel/id/247.shtml"><img src="http://www.etimehouse.com/Uploads/coverimg/20150722/55af04b776359.jpg"></a>
			        </div>
			          <div class="gl_left_right col-md-8">
			            <div class="title_dt">
			              <h3><a href="/index.php/Home/Travel/travel/id/247.shtml">见证历史沧桑的歌乐山烈士陵园</a></h3>
			            </div>
			            <ul class="notes_info_tip">
			              <li class="gl_left_content4 col-md-1"><a href="#"><img src="http://www.etimehouse.com/Uploads/usersimg/20150428/553f472f5f627.jpg" class="gl_left_content4_img"></a></li>
			              <li class="gl_left_content5 col-md-2">无良女</li>
			              <li class="gl_left_content9 col-md-8">目的地：重庆歌乐山</li>
			            </ul>
			            <ul class="notes_info_time">
			                <li class="display">106</li>
			                <li class="time">共1天</li>
			              </ul>
			            <div class="notes_content"><b>说说这次旅行：</b> 景点类型：公园 


			    最佳季节：重庆终年气候潮湿，旅游的最佳时间在春、冬两季。 


			    建议游玩：1-3小时 


			    门票：免费 


			    开放时间：周一至周日 ( 全天开放 ) 



			    


			    走进歌乐山 


			    歌乐山地处沙坪坝区中部，距重庆市中心16公里。因大禹治水，召众宾歌乐于此而得名，素有“渝西第一峰，山城绿宝石”之美誉，是重庆市两大“肺叶”之一。&nbsp;歌乐山以抗战时期的陪都遗迹和白公馆、渣滓洞监狱而享誉全国，特别是随着长篇小说《红岩》在全国范围内的广泛流传，歌乐山更成为一座英雄的山脉。现在，歌乐山受欢迎的景点还包括了：森林公园、烈士陵园等等。&nbsp;歌乐山属于中梁山山脉，主要为喀斯特地貌，石灰岩运动较为活跃。近几年来，几乎每年都会出现一些奇特的地质现象。&nbsp;值得一提的是，歌乐山辣子鸡是闻名全国的一道特色美食。 


			    
			 
			            </div>
			          </div>
			       </div>
                <!-- 攻略列表区 END --> 
            </div>
            <div class="destination-right col-md-3 col-sm-12">
                <div class="baidu_map">
                    <div id="allmap"></div>
                </div>
                  <div class="qn_main_ct_r"> 
			      <div class="r_ticket_c">
			       <div class="r_c_head">
			        热门目的地<!-- <a href="" class="r_c_more" data-beacon="selling_ticket_more">更多</a> -->
			       </div>
			       <div class="r_ticket_list">
			        <table>
			         <tbody>
			          <tr>
			           <td width="150" align="left" title="苏马荡"><a class="colo6" href="/index.php/Home/Travel/destination/id/5.shtml">苏马荡</a></td>
			           <td class="colo9" align="left" width="60"><span class="coloY">948</span>人已浏览</td> 
			          </tr><tr>
			           <td width="150" align="left" title="腾龙洞"><a class="colo6" href="/index.php/Home/Travel/destination/id/6.shtml">腾龙洞</a></td>
			           <td class="colo9" align="left" width="60"><span class="coloY">681</span>人已浏览</td> 
			          </tr><tr>
			           <td width="150" align="left" title="将军岩"><a class="colo6" href="/index.php/Home/Travel/destination/id/8.shtml">将军岩</a></td>
			           <td class="colo9" align="left" width="60"><span class="coloY">649</span>人已浏览</td> 
			          </tr><tr>
			           <td width="150" align="left" title="鱼木寨"><a class="colo6" href="/index.php/Home/Travel/destination/id/9.shtml">鱼木寨</a></td>
			           <td class="colo9" align="left" width="60"><span class="coloY">616</span>人已浏览</td> 
			          </tr><tr>
			           <td width="150" align="left" title="大峡谷"><a class="colo6" href="/index.php/Home/Travel/destination/id/17.shtml">大峡谷</a></td>
			           <td class="colo9" align="left" width="60"><span class="coloY">608</span>人已浏览</td> 
			          </tr><tr>
			           <td width="150" align="left" title="朝天门"><a class="colo6" href="/index.php/Home/Travel/destination/id/15.shtml">朝天门</a></td>
			           <td class="colo9" align="left" width="60"><span class="coloY">594</span>人已浏览</td> 
			          </tr><tr>
			           <td width="150" align="left" title="洪崖洞"><a class="colo6" href="/index.php/Home/Travel/destination/id/14.shtml">洪崖洞</a></td>
			           <td class="colo9" align="left" width="60"><span class="coloY">575</span>人已浏览</td> 
			          </tr><tr>
			           <td width="150" align="left" title="佛宝山"><a class="colo6" href="/index.php/Home/Travel/destination/id/12.shtml">佛宝山</a></td>
			           <td class="colo9" align="left" width="60"><span class="coloY">516</span>人已浏览</td> 
			          </tr><tr>
			           <td width="150" align="left" title="垭石林"><a class="colo6" href="/index.php/Home/Travel/destination/id/13.shtml">垭石林</a></td>
			           <td class="colo9" align="left" width="60"><span class="coloY">514</span>人已浏览</td> 
			          </tr>         </tbody>
			        </table>
			       </div>
			      <div style="margin-top:30px;height:150px;">
			       <img src="/Public/Index/images/guanggao1.jpg" width="330px" height="150px">
			     </div>
			     </div> 
			     <div class="r_ticket_other">
			       <h3 class="ctd_side_titile title_top">自游网官方微博</h3>
			       <iframe width="100%" height="582" class="share_self" frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&amp;width=0&amp;height=582&amp;fansRow=2&amp;ptype=1&amp;speed=100&amp;skin=1&amp;isTitle=0&amp;noborder=0&amp;isWeibo=1&amp;isFans=1&amp;uid=5427772833&amp;verifier=66cef3ce&amp;dpc=1"></iframe>
			     </div>
			       
			   </div>
            </div>
        </div> 
     <div style="clear:both">
   </div> 
  </div>
    </div>    
</div>
</div>
</block>

