<extend name="Public/base"/>
<block name="head">
	<link href="__NEW_CSS__/goods.css" rel="stylesheet" />
</block>
<block name="body">
<div class="row-fluid">
  <div class="container">
    <div class="news bg-white">
    <php>if($msg){</php><div class="msg">{$msg}</div><php>}</php>
    	<div class="destination col-md-12">
            <div class="destination-left col-md-8 col-sm-12">
            	<h1 class="title">福安人在餐馆看到这道菜请举报 商家至少罚5万</h1>
            	<div class="sum-title">
            		<div class="time">2016-01-24 08:25:55</div>
            		<div class="views">162</div>
            		<div class="clear"></div>
            	</div>
            	<div>
            		<p style="TEXT-INDENT: 2em">福安新闻网消息 “遍尝世间鱼万种，唯有河豚味最鲜。”虽然美味，但因食用河豚鱼造成的中毒事件并不少见。</p>
            		<p style="TEXT-INDENT: 2em">今年1月上中旬，福安、蕉城、福鼎相继发生河豚鱼中毒事件。为保障公众身体健康和生命安全，福安市食品安全委员会和福安市市场监督管理局联合发布就禁止生产经营河豚鱼及其制品有关事项通告。</p>
            		<p style="TEXT-INDENT: 2em">《通告》表明，河豚鱼及其制品含有剧毒河豚毒素，食用安全风险较大，禁止任何酒家、饭店和商贩擅自收购、贩运、加工烹饪和经营销售河豚鱼及其制品。对从事生产经营河豚鱼及其制品的单位和个人，将依照《中华人民共和国食品安全法》第一百二十四条规定，予以五万元以上处罚；构成犯罪的，依法追究刑事责任。同时，广大市民应提高自我防范意识，自觉做到不购买、不食用河豚鱼及其制品。捕捞或捡到河豚鱼及其制品，请自行销毁。</p>
            		<p>
            			转载：http://www.aiquxs.com/read/12/12209/14678564.html
            		</p>
            	</div>
            </div>
            <div class="destination-right col-md-4 col-sm-12">
            	<h3>地图位置</h3>
                <div class="baidu_map">
                    <div id="allmap"></div>
                </div>
            </div>
        </div>
   </div> 
  </div>
</div>
</block>

