<extend name="Public/base"/>
<block name="head">
	<link href="__NEW_CSS__/goods.css" rel="stylesheet" />
</block>
<block name="body">
<div class="row-fluid">
  <div class="container">
    <div class="raiders bg-white">
    <php>if($msg){</php><div class="msg">{$msg}</div><php>}</php>
    	<div class="destination col-md-12">
    		<h1 class="name">国庆出游 金滩、银滩、防城、东兴</h1>
    		<div class="marks"></div>
    		<div class="images">
    			<div class="image col-md-2 col-sm-4">
    				<a href="javascript:;" action-data="trip_id=20144&amp;scrollto1=36700" class="item show_note_layer">
                        <img src="http://up.tukeji.com/notephoto/20144/u15098_20151001_09_34_15_ios5CDE5Bw3_1_2_i7.jpg!m.note.photo">
                    </a>
    			</div>
    			<div class="image col-md-2 col-sm-4">
    				<a href="javascript:;" action-data="trip_id=20144&amp;scrollto1=36684" class="item show_note_layer">
                        <img src="http://up.tukeji.com/notephoto/20144/u15098_20150930_22_07_20_ios5CDE5Bg3_1_2_i0.jpg!m.note.photo">
                    </a>
    			</div>
    			<div class="image col-md-2 col-sm-4">
    				<a href="javascript:;" action-data="trip_id=20144&amp;scrollto1=36685" class="item show_note_layer">
                        <img src="http://up.tukeji.com/notephoto/20144/u15098_20150930_22_07_37_ios5CDE5Bg3_1_2_i1.jpg!m.note.photo">
                    </a>
    			</div>
    			<div class="image col-md-2 col-sm-4">
    				<a href="javascript:;" action-data="trip_id=20144&amp;scrollto1=36687" class="item show_note_layer">
                        <img src="http://up.tukeji.com/notephoto/20144/u15098_20151001_00_13_42_ios5CDE5Bg3_1_2_i2.jpg!m.note.photo">
                    </a>
    			</div>
    			<div class="image col-md-2 col-sm-4">
    				<a href="javascript:;" action-data="trip_id=20144&amp;scrollto1=36688" class="item show_note_layer">
                        <img src="http://up.tukeji.com/notephoto/20144/u15098_20151001_00_14_29_ios5CDE5Bg3_1_2_i3.jpg!m.note.photo">
                    </a>
    			</div>
    			<div class="image col-md-2 col-sm-4">
    				<a href="javascript:;" action-data="trip_id=20144" class="item show_note_layer">
                        <img src="http://up.tukeji.com/notephoto/20144/u15098_20151001_02_04_00_ios5CDE5Bg3_1_2_i4.jpg!m.note.photo">
                    </a>
    			</div>
                <div class="shadow">
                    <i class="left"></i>
                    <i class="right"></i>
                </div>
                <div class="clear"></div>
            </div>
            <div class="destination-left col-md-9 col-sm-12">
            	<div class="raiders-content">
            		<div class="raiders-content-base">
	                    <h1 class="col-md-2 col-sm-2">行程单</h1>
	                    <div id="trip-days" class="col-md-1 col-sm-1">
	                        <em>8</em>天
	                    </div>
	                    <div id="trip-date" class="col-md-5 col-sm-5">
	                        2015.09.30 - 2015.10.07                    </div>
	                    <div id="trip-money" class="col-md-4 col-sm-4">
	                        人均预算<sup>￥</sup><em>1867</em><!-- <a href="" class="btn btn btn_blue_small"><span>明细</span></a> -->                    </div>
                        <div class="clear"></div>
            		</div>
                    <div class="raiders-content-info">
                        <div class="plan-item clear">
                            <div class="plan-item-head">
                                <div class="plan-date col-md-2 col-sm-2">2015-09-30</div>
                                <div class="plan-days col-md-1 col-sm-1"><span class="days">1</span></div>
                                <div class="plan-place col-md-9 col-sm-9">昆明,弥勒,砚山</div>
                                <div class="clear"></div>
                            </div>
                            <div class="plan_item_inner clear">
                                <div class="plan_time col-md-2 col-sm-2">23:50</div>
                                <div class="plan_tag col-md-1 col-sm-1">
                                    <span class="icon i_plan_type i_traffic" title="行"></span>
                                </div>
                                <div class="plan_main col-md-9 col-sm-9">
                                    <div class="plan_money col-md-3">￥35</div>
                                    <div class="plan_title col-md-9">砚山易捷便利店</div>
                                    <div class="plan_desc">西园加油站出发，共计307公里，途经汕昆、广昆高速，预计用时3小时55分，预计10月1日03：50到达。（如果堵车在便利店加油）</div>
                                </div>
                            </div>
                        </div>
                    </div>
            	</div>
				<div class="raiders-comment">
					<div class="col-md-12 col-sm-12">
						<h3>评论</h3>
					</div>
					<div class="raiders-comment-content">
						<div class="comment-item">
							<li class="item" id="comment-id-2280" data-comment-id="2280">
								<a href="/space/20154" class="comment_face i_user_face i_s_user_face" target="_blank">
									<img src="http://up.tukeji.com/userface/4/485398311e92e05a89ba72e759626f40.jpg!s.user.face" alt="云南玉溪">
									<i class="mask"></i>
								</a>
								<div class="comment_main">
									<div class="comment_content">
										<a href="/space/20154.html" class="comment_user" target="_blank">云南玉溪</a>
										我来点个赞
									</div>
									<div class="comment_ext">
										<span class="comment_date">2015-10-08 13:31</span>
										<a href="javascript:;" class="btn_comment_reply" data-reply-nickname="云南玉溪" data-user-id="20154">回复</a>
									</div>
								</div>
							</li>
						</div>
					</div>
				</div>
            </div>
            <div class="destination-right col-md-3 col-sm-12">
            	<div class="download">打印/下载</div>
            </div>
			<div class="clear"></div>
    	</div>
		<div class="clear"></div>
   </div> 
  </div>
</div>
</block>

