<extend name="Public/base"/>
<block name="head">
	<link href="__NEW_CSS__/goods.css" rel="stylesheet" />
</block>
<block name="body">
<div class="row-fluid">
  <div class="container">
    <div class="raiders bg-white">
    <php>if($msg){</php><div class="msg">{$msg}</div><php>}</php>
    	<div class="destination col-md-12">
    		<h1 class="name">国庆出游 金滩、银滩、防城、东兴</h1>
    		<div class="marks"></div>
    		<div class="images">
    			<div class="image col-md-2 col-sm-4">
    				<a href="javascript:;" action-data="trip_id=20144&amp;scrollto1=36700" class="item show_note_layer">
                        <img src="http://up.tukeji.com/notephoto/20144/u15098_20151001_09_34_15_ios5CDE5Bw3_1_2_i7.jpg!m.note.photo">
                    </a>
    			</div>
    			<div class="image col-md-2 col-sm-4">
    				<a href="javascript:;" action-data="trip_id=20144&amp;scrollto1=36684" class="item show_note_layer">
                        <img src="http://up.tukeji.com/notephoto/20144/u15098_20150930_22_07_20_ios5CDE5Bg3_1_2_i0.jpg!m.note.photo">
                    </a>
    			</div>
    			<div class="image col-md-2 col-sm-4">
    				<a href="javascript:;" action-data="trip_id=20144&amp;scrollto1=36685" class="item show_note_layer">
                        <img src="http://up.tukeji.com/notephoto/20144/u15098_20150930_22_07_37_ios5CDE5Bg3_1_2_i1.jpg!m.note.photo">
                    </a>
    			</div>
    			<div class="image col-md-2 col-sm-4">
    				<a href="javascript:;" action-data="trip_id=20144&amp;scrollto1=36687" class="item show_note_layer">
                        <img src="http://up.tukeji.com/notephoto/20144/u15098_20151001_00_13_42_ios5CDE5Bg3_1_2_i2.jpg!m.note.photo">
                    </a>
    			</div>
    			<div class="image col-md-2 col-sm-4">
    				<a href="javascript:;" action-data="trip_id=20144&amp;scrollto1=36688" class="item show_note_layer">
                        <img src="http://up.tukeji.com/notephoto/20144/u15098_20151001_00_14_29_ios5CDE5Bg3_1_2_i3.jpg!m.note.photo">
                    </a>
    			</div>
    			<div class="image col-md-2 col-sm-4">
    				<a href="javascript:;" action-data="trip_id=20144" class="item show_note_layer">
                        <img src="http://up.tukeji.com/notephoto/20144/u15098_20151001_02_04_00_ios5CDE5Bg3_1_2_i4.jpg!m.note.photo">
                    </a>
    			</div>
                <div class="shadow">
                    <i class="left"></i>
                    <i class="right"></i>
                </div>
                <div class="clear"></div>
            </div>
            <div class="destination-left col-md-8 col-sm-12">
            	<div class="raiders-content">
            		<div class="raiders-content-base">
	                    <h1 class="col-md-3 col-sm-3">行程单</h1>
	                    <div id="trip-days" class="col-md-1 col-sm-1">
	                        <em>8</em>天
	                    </div>
	                    <div id="trip-date" class="col-md-5 col-sm-5">
	                        2015.09.30 - 2015.10.07                    </div>
	                    <div id="trip-money" class="col-md-3 col-sm-3">
	                        人均预算<sup>￥</sup><em>1867</em><!-- <a href="" class="btn btn btn_blue_small"><span>明细</span></a> -->                    </div>
                        <div class="clear"></div>
            		</div>
                    <div class="raiders-content-info">
                        <div class="plan-item clear">
                            <div class="plan-item-head">
                                <div class="plan-date col-md-3 col-sm-3">2015-09-30</div>
                                <div class="plan-days col-md-2 col-sm-3"><span class="days">1</span></div>
                                <div class="plan-place col-md-7 col-sm-6">昆明,弥勒,砚山</div>
                                <div class="clear"></div>
                            </div>
                            <div class="plan_item_inner clear">
                                <div class="plan_time">23:50</div>
                                <div class="plan_tag">
                                    <span class="icon i_plan_type i_traffic" title="行"></span>
                                </div>
                                <div class="plan_main">
                                    <div class="plan_money">￥35</div>
                                    <div class="plan_title">砚山易捷便利店</div>
                                    <div class="plan_desc">西园加油站出发，共计307公里，途经汕昆、广昆高速，预计用时3小时55分，预计10月1日03：50到达。（如果堵车在便利店加油）</div>
                                </div>
                            </div>
                        </div>
                    </div>
            	</div>
            </div>
            <div class="destination-right col-md-4 col-sm-12">
            	<div class="download">打印/下载</div>
            </div>
    	</div>
   </div> 
  </div>
</div>
</block>

